<div class="site-footer">


    <div class="container">

      <div class="row">
        <div class="col-lg-3 mr-auto">
          <div class="widget">
            <h3>About Us<span class="text-primary">.</span> </h3>
            <p>This system is developed by B.Sc. Computer Science students of Sree Narayana College, Cherthala as the major project of 2024-25 academic year</p>
          </div> <!-- /.widget -->
          <div class="widget">
            <h3>Connect</h3>
            <ul class="list-unstyled social">
              <li><a href="#"><span class="icon-instagram"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-pinterest"></span></a></li>
              <li><a href="#"><span class="icon-dribbble"></span></a></li>
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->

        <div class="col-lg-2 ml-auto">
          <div class="widget">
            <ul class="list-unstyled float-left links">
             
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->

        <div class="col-lg-3">
          <div class="widget">
            <h3>Gallery</h3>
            <ul class="instafeed instagram-gallery list-unstyled">
             
              <li><a class="instagram-item" href="static/images/gal_4.jpg" data-fancybox="gal"><img src="static/images/clg1.jpeg" alt="" width="72" height="72"></a>
              </li>
              <li><a class="instagram-item" href="static/images/gal_5.jpg" data-fancybox="gal"><img src="static/images/clf4.jpeg" alt="" width="72" height="72"></a>
              </li>
              <li><a class="instagram-item" href="static/images/gal_6.jpg" data-fancybox="gal"><img src="static/images/clg.jpeg" alt="" width="72" height="72"></a>
              </li>
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->


        <div class="col-lg-3">
          <div class="widget">
            <h3>Contact</h3>
            <address>J8CJ+QFF, SL Puram Pokkalassery Road, Kanjikuzhy, S.L.Puram, Mararikulam, Kerala 688523</address>
            <ul class="list-unstyled links mb-4">
              <li><a href="tel://11234567890">7034822518</a></li>
              <li><a href="tel://11234567890">+91 9995434591</a></li>
              <li><a href="mailto:info@mydomain.com">sncollege@gamil.com</a></li>
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->

      </div> <!-- /.row -->

      <div class="row mt-5">
        <div class="col-12 text-center">
          </div>
        </div>
      </div> <!-- /.container -->
    </div> <!-- /.site-footer -->

    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/jquery.animateNumber.min.js"></script>
    <script src="static/js/jquery.waypoints.min.js"></script>
    <script src="static/js/jquery.fancybox.min.js"></script>
    <script src="static/js/jquery.sticky.js"></script>
    <script src="static/js/aos.js"></script>
    <script src="static/js/custom.js"></script>

  </body>

  </html>
  {% if messages %}

  {% for message in messages %}
  <script>alert("{{ message }}")</script>
  {% endfor %}

  {% endif %}
