
    <!doctype html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="author" content="Untree.co">
      <link rel="shortcut icon" href="favicon.png">
    
      <meta name="description" content="" />
      <meta name="keywords" content="bootstrap, bootstrap4" />
    
      <link href="https://fonts.googleapis.com/css2?family=Display+Playfair:wght@400;700&family=Inter:wght@400;700&display=swap" rel="stylesheet">
    
    
      <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/animate.min.css">
      <link rel="stylesheet" href="static/css/owl.carousel.min.css">
      <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="static/css/jquery.fancybox.min.css">
      <link rel="stylesheet" href="static/fonts/icomoon/style.css">
      <link rel="stylesheet" href="static/fonts/flaticon/font/flaticon.css">
      <link rel="stylesheet" href="static/css/aos.css">
      <link rel="stylesheet" href="static/css/style.css">
    
      <title>TrueVoice</title>
    </head>
    
    <body>
    
      <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
    
    
      
      <nav class="site-nav mb-5">
        <div class="pb-2 top-bar mb-3">
          <div class="container">
            <div class="row align-items-center">
    
              <div class="col-6 col-lg-9">
                <a href="#" class="small mr-3"><span class=""></span> <span class="d-none d-lg-inline-block"></span></a> 
                <a href="#" class="small mr-3"><span class="icon-phone mr-2"></span> <span class="d-none d-lg-inline-block">0478 2810876</span></a> 
                <a href="#" class="small mr-3"><span class="icon-envelope mr-2"></span> <span class="d-none d-lg-inline-block">snccollege@gmail.com</span></a> 
                <div class="but"></div>
              </div>
    
              <!-- <div class="col-6 col-lg-3 text-right">
                <a href="login.html" class="small mr-3">
                  <span class="icon-lock"></span>
                  Log In
                </a>
                <a href="register.html" class="small">
                  <span class="icon-person"></span>
                  Register
                </a>
              </div> -->
    
            </div>
          </div>
        </div>
        <div class="sticky-nav js-sticky-header">
          <div class="container position-relative">
            <div class="site-navigation text-center">
              <a href="candidate_home" class="logo menu-absolute m-0">TrueVoice<span class="text-primary">.</span></a>
    
              <ul class="js-clone-nav d-none d-lg-inline-block site-menu">
                <li ><a href="/manage_campaigns">CAMPAGINS</a></li>
                <li class="has-children">
                  <ul class="dropdown">
                  

                    <li class="has-children">
                      <ul class="dropdown">
                      
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="/cd_view_election">VOTE</a></li>
                <li><a href="/r_view_election">RESULT</a></li>

                <li><a href="/cd_send_complaint">COMPLAINTS</a></li>
                <!-- <li><a href="/view_all_candidates">CANDIDATES</a></li> -->
                <!-- <li><a href="/cd_view_post">POSTS</a></li> -->
                <li><a href="/cd_feedback">FEEDBACK</a></li>
                <li><a href="/view_profile">PROFILE</a></li>
                <li><a href="/view_students">STUDENTS</a></li>



              </ul>
    
              <a href="/" class="btn-book btn btn-secondary btn-sm menu-absolute">LOGOUT</a>

    
              <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
              </a>

            </div>

          </div>
        </div>
      </div>
      </nav>

     







      
    
   
    
    



