{% include 'candidate/candidate_header.html' %}

<div class="untree_co-hero  " style="background-image: url('static/images/home2.jpeg'); padding: 70px 50px;">
    <div class="container">
        <br><br><br>
        <div class="row align-items-center justify-content-center">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <!-- <div style="border: 2px solid #ddd; padding: 20px; background-color: #f9f9f9; border-radius: 10px;"> -->
                            <h2 style="margin-bottom: 20px; text-align: center; color:white;">POSTS</h2>
                            
                            <div class="row">
                                {% for i in data['view'] %}
                                <div class="col-md-6">
                                    <div class="card" style="border: 1px solid #ddd; border-radius: 10px; margin-bottom: 20px; padding: 20px; background-color: #ffffff;">
                                        <div class="card-body">
                                            <h2 class="card-title" style="margin-bottom: 15px; color: burlywood;"> {{ i.post_name }}</h2>
                                            <p class="card-text"><strong>Election Name:</strong> {{ i.election_name }}</p>
                                            
                                            <td style="border: 1px solid #ddd; padding: 10px;"><a href="/view_all_candidates?id={{i.post_id}}"class="btn btn-primary"  style="color: #007bff; text-decoration: none; color: white;"> VIEW CANDIDATE</a></td>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.untree_co-hero -->

<div class="untree_co-hero  " style="background-image: url('static/images/home3.jpeg'); padding: 70px 50px;">
